# Files to ignore so they do not get uploaded 
/hacking_scripts
/DataStructure&algoTrainning
/data_science/deep_learning/neural_networks_from_scratch/search_system.txt
/data_science/deep_learning/neural_networks_from_scratch/fashion_mnist_images
/data_science/deep_learning/neural_networks_from_scratch/fashion_mnist_images.zip
/data_science/k_means/
/data_science/k_nearest_neighbors/
/data_science/regression/
/data_science/supportvectormachine/
/.vimspector.json
